<ion-content>
  <ion-row class="result-outer">
    <div *ngFor="let plateData of pictureData; let i = index" [ngClass]="plateData.data.status === 'Expired' ? 'inactive' : 'active'">
      <ion-card *ngIf="scanStatus && plateData.status" (click)="goToDetail(i)"
        [@fadeAnimation]="plateData.animationType">
        <ion-item class="title_bar">
          <ion-label>{{plateData.data.permit_id}}</ion-label>
          <ion-label text-end slot="end">{{plateData.data.status}}</ion-label>
        </ion-item>

        <ion-card-content text-center>
          <ion-item *ngFor="let licenseInfo of plateData.data.vehicle_info">
            <ion-label start>License Plate</ion-label>
            <ion-label end color="medium">{{licenseInfo.license_plate}} ({{licenseInfo.license_plate_state}})</ion-label>
          </ion-item>
          <ion-item *ngFor="let attributeData of plateData.data.attribute_data">
            <ion-label start>{{attributeData.attribute_name}}</ion-label>
            <ion-label end color="medium" text-wrap>{{attributeData.attribute_value}}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card class="inactive-no-permit" *ngIf="scanStatus && !plateData.status"
        [@fadeAnimation]="plateData.animationType">
        <ion-item text-center>
          <ion-label start>No Permits Found</ion-label>
          <ion-label end>{{plateData.data.plateNumber}}</ion-label>
        </ion-item>
      </ion-card>
    </div>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer_multiple_pics">
    <ion-buttons class="multiple_pics_btn_cancel" (click)="goBack()" text-center slot="start">
      <ion-button>
        <ion-label>CANCEL</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-buttons *ngIf="!scanStatus" class="multiple_pics_btn_submit start-camera" text-center slot="end" (click)="start()">
      <ion-button>
        <ion-label>START SCANNING</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-buttons *ngIf="scanStatus" class="multiple_pics_btn_submit" text-center slot="end" (click)="stop()">
      <ion-button>
        <ion-label>STOP SCANNING</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>