<app-header [showProperty]="showProperty" [pageName]="pageName"></app-header>

<ion-content padding text-center>

  <div class="margin-bottom icon_input_outer" margin-top>
    <div class="icons_outer"><img src="assets/icon/contact.svg"/></div>
    <input type="text" [(ngModel)]="firstName" placeholder="First Name" />
  </div>

  <div class="margin-bottom icon_input_outer" margin-top>
    <div class="icons_outer"><img src="assets/icon/contact.svg"/></div>
    <input type="text" [(ngModel)]="lastName" placeholder="Last Name" />
  </div>

  <div class="margin-bottom icon_input_outer" margin-top>
    <div class="icons_outer"><img src="assets/icon/Second-Billing-Address.svg"/></div>
    <input type="text" [(ngModel)]="residentUnit" placeholder="{{dynamic_field}}" />
  </div>

  <div class="margin-bottom icon_input_outer" margin-top>
    <div class="icons_outer"><img src="assets/icon/mail.svg"/></div>
    <input type="text" [(ngModel)]="email" type="email" placeholder="Email Address" />
  </div>

  <div class="margin-bottom icon_input_outer" margin-top>
    <div class="icons_outer"><img src="assets/icon/call.svg"/></div>
    <input [(ngModel)]="phone" type="tel" placeholder="Phone Number" />
  </div>

  <ion-button class="loginButton" expand="block" size="large" (click)="submitForm()">Search</ion-button>

</ion-content>

<ion-footer (click)="goToBack()">
  <ion-toolbar>
    <ion-title text-center>BACK</ion-title>
  </ion-toolbar>
</ion-footer>