<ion-header>
    <ion-toolbar>
      <ion-buttons class="logoHeader" slot="start" (click)="closeModal(0)">
        <ion-button>
          <img slot="start" [src]="appLogo" />
        </ion-button>
      </ion-buttons>
      <ion-label>Search By User</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal(0)">
          <ion-icon class="logoutIcon" slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding text-center>
  
    <ion-item class="margin-bottom" margin-top>
      <ion-icon slot="start" name="contact"></ion-icon>
      <ion-input [(ngModel)]="firstName" placeholder="First Name"></ion-input>
    </ion-item>
  
    <ion-item class="margin-bottom">
      <ion-icon slot="start" name="contact"></ion-icon>
      <ion-input [(ngModel)]="lastName" placeholder="Last Name"></ion-input>
    </ion-item>
  
    <ion-item class="margin-bottom">
      <ion-icon slot="start" name="home"></ion-icon>
      <ion-input [(ngModel)]="residentUnit" placeholder="Resident Unit"></ion-input>
    </ion-item>
  
    <ion-item class="margin-bottom">
      <ion-icon slot="start" name="mail"></ion-icon>
      <ion-input [(ngModel)]="email" type="email" placeholder="Email Address"></ion-input>
    </ion-item>
  
    <ion-item class="margin-bottom">
      <ion-icon slot="start" name="call"></ion-icon>
      <ion-input [(ngModel)]="phone" type="tel" placeholder="Phone Number"></ion-input>
    </ion-item>
  
    <ion-button class="loginButton" expand="block" size="large" (click)="closeModal(1)">Search</ion-button>
  
  </ion-content>