.item-interactive.sc-ion-label-md-h, .item-interactive .sc-ion-label-md-h {
    z-index: 9;
}
.input-box {
    position: relative;
}

.select-pin { margin-top: 0;}

.logoImg {
    max-width: 85% !important;
    margin: 0 auto;
}

.forget-link {
    --box-shadow: none !important;
    box-shadow: none !important;
}
ion-grid.hydrated {
    display: grid;
    align-items: center;
    height: 100%;
}
ion-row.item-verticle-align-center.hydrated {
    display: flex;
    align-items: center;
}
@media screen and (min-width : 576px) {
    .logoImg {
        max-width: 90% !important;
        margin: 0 auto;
    }

    .loginButton {
        margin-top: 25px;
    }
}

@media screen and (max-device-width: 768px) and (orientation: portrait) {
    ion-item.item.hydrated {
        margin-bottom: 1.2em;
    }
}