<app-header [showProperty]="showProperty" [pageName]="pageName"></app-header>

<ion-content padding text-center>

  <div class="margin-bottom icon_input_outer" margin-top>
    <div class="icons_outer"><img src="assets/icon/car.svg"/></div>
    <input type="text" [(ngModel)]="make" placeholder="Make" />
  </div>

  <div class="margin-bottom icon_input_outer" margin-top>
    <div class="icons_outer"><img src="assets/icon/car.svg"/></div>
    <input type="text" [(ngModel)]="model" placeholder="Model" />
  </div>

  <div class="margin-bottom icon_input_outer" margin-top>
    <div class="icons_outer"><img src="assets/icon/time.svg"/></div>
    <input [(ngModel)]="year" type="number" placeholder="Year" />
  </div>

  <div class="margin-bottom icon_input_outer" margin-top>
    <div class="icons_outer"><img src="assets/icon/disc.svg"/></div>
    <input type="text" [(ngModel)]="vin" placeholder="Vin" />
  </div>

  <div class="margin-bottom icon_input_outer" margin-top>
    <div class="icons_outer"><img src="assets/icon/car.svg"/></div>
    <input type="text" [(ngModel)]="plate" placeholder="Plate" />
  </div>

  <ion-button class="loginButton" expand="block" size="large" (click)="submitForm()">Search</ion-button>

</ion-content>

<ion-footer (click)="goToBack()">
  <ion-toolbar>
    <ion-title text-center>BACK</ion-title>
  </ion-toolbar>
</ion-footer>