// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #488aff;
  --ion-color-primary-rgb: 72,138,255;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3f79e0;
  --ion-color-primary-tint: #5a96ff;

  /** secondary **/
  --ion-color-secondary: #32db64;
  --ion-color-secondary-rgb: 50,219,100;
  --ion-color-secondary-contrast: #fff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #2cc158;
  --ion-color-secondary-tint: #47df74;

  /** tertiary **/
  --ion-color-tertiary: #f4a942;
  --ion-color-tertiary-rgb: 244,169,66;
  --ion-color-tertiary-contrast: #fff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #d7953a;
  --ion-color-tertiary-tint: #f5b255;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #fff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f53d3d;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #fff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d83636;
  --ion-color-danger-tint: #f65050;

  /** light **/
  --ion-color-light: #f4f4f4;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d7d7;
  --ion-color-light-tint: #f5f5f5;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;
  
  /** dark **/
  --ion-color-dark: #222;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #fff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e1e1e;
  --ion-color-dark-tint: #383838;
  
}

body {
  --ion-font-family : open sans;
}

$text-color: #fff;
$select-option-color: #000;
$inputselect-bg: #292340;
$text-input-md-margin-left: 0.8em;

ion-input, ion-label, ion-select{
  color: #fff !important;
  --color: #fff !important;
  --placeholder-color: #fff;
  --ion-text-color-step-600: #fff;
  --ion-text-color-step-650: #fff;
}

 ion-input, ion-select {
  background: #292340;
  --placeholder-opacity: 1;
}

ion-item.activated {
  --background: transparent;
}
input {
  background: transparent;
  color: #fff !important;
  --color: #fff !important;
  width: 100%;
  border: none;
  margin-left: 42px !important;
}
input::placeholder{
  color: #fff;
}
input:focus {
    border: none;
    outline: none;
}
ion-item.item-select ion-label {
  background: #292340;
  padding: 11px 8px 11px 0;
  margin:  11px 0px !important;
}
ion-radio-group ion-label {
  color: #000;
}

ion-content {
  background: url("assets/background/body_bg.png");
  background-size: cover;
  background-position: center top;
}

.margin-bottom {
  margin-bottom: 5%;
  background: #292342;
  position: relative;
  ion-icon {
      color: #090010;
      background: #5f2877;
      margin: 0 0 0 0;
      padding: .0em 0.4em;
      position: absolute;
      left: 0;
      height: 100%;
      top: 0;
  }
  ion-input { 
      -webkit-padding-before: .8em !important;
      padding-block-start: .8em !important;
      width: 82%;
      float: right;
      max-width: 82%;
      position: absolute;
      right: 0;
  }
  ion-select {
    max-width: 90%;
    width: 90%;
    /* position: absolute; */
    right: 0;
    margin-left: 9%;
  }
}

.icons_outer {
  width: 46px;
  max-width: 46px;
  text-align: center;
  background: #5f2877;
  height: 44px;
  padding: 9px 0;
  img{
    width: 26px;
    margin: 0 auto;
  }
}

.icon_input_outer {
  display: flex;
  width: 100%;
}
.icon_input_outer input {
  width: calc(100% - 46px);
  margin-left: 0 !important;
  padding: 0 10px;
}
.icon_input_outer ion-select {
  width: calc(100% - 46px) !important;
  margin-left: 0 !important;
  padding: 10px 10px;
}
.icon_input_outer .dropdownLebal {
  padding: 0 10px;
}
.loginButton {
  margin-top: 50px;
  --background: -webkit-linear-gradient(top, #ee6225 5%, #cb2629 100%);
  font-family: 'Open Sans', sans-serif;
}

.logoHeader {
  width: 11%;
}

ion-toolbar {
  --background: #150e35;
}

.logoutIcon {
  color: #fff;
}

ion-header{
  text-align: center;
}

ion-back-button {
  color: #fff !important;
}

ion-title {
  color: #fff;
}

.loading-wrapper {
  padding: 0 !important;
  visibility: hidden;
  text-align: center;
  font-size: 1.5em;
}

.loading-content {
  background: #000;
  color: #fff;
}

.loading-ios .loading-content {
  font-weight: normal;
}

a.forget-link {
  color: #fff;
  display: block;
  margin: .8em auto;
  text-align: center;
  text-decoration: none;
  font-size: 1.15em;
}
.forget-link {
  --background: transparent;
    margin: 0 auto;
    width: 100%;
}


.loader {
  border: 5px solid #150d1d;
  border-radius: 50%;
  border-top: 5px solid #9b1f60;
  width: 100%;
  height: 100%;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-outer {
  width: 12em;
  height: 12em;
  position: relative;
  text-align: center;
}

.loading-outer img {
  position: absolute;
  top: 17%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 70%;
}

ion-refresher {
  color: #fff;
}

.refresher-md .refresher-pulling-icon, .refresher-md .refresher-pulling-text, .refresher-md .refresher-refreshing-icon, .refresher-md .refresher-refreshing-text {
  --ion-text-color: #fff;
}

ion-select-popover {
  ion-list {
    background: #150e35;
    ion-label {
      color: #fff;
    }
  }
  background: #150e35;
}
.dropdownLebal {
  padding-left: 50px;
}
textarea {
  background: transparent;
  outline: none;
  border: none;
  height: -moz-fit-content;
  height: 100% !important;
  width: 100%;
  color: #ffffff !important;
  display: flex;
}
.description_area[_ngcontent-c0] {
  background: #191242;
  height: 85%;
  overflow: hidden;
  display: flex;
}
ion-toolbar.footer_permit_details.hydrated, 
ion-toolbar.footer_add_note.hydrated, 
ion-toolbar.footerBack.hydrated {
  padding: 0;
  min-height: 45px;
}
ion-buttons.view_note_btn.hydrated {
  background: #150e35;
  margin: 0;
}
ion-buttons.add_note_btn.hydrated {
  background: #5f2877;
  margin: 0;
}
.alert-button[data-ion-alert-md], 
.alert-input-group[data-ion-alert-md], 
.alert-message[data-ion-alert-md] {
  color: #fff !important;
  background: transparent !important;
}
.alert-button[data-ion-alert-md]:focus, 
.alert-input-group[data-ion-alert-md]:focus, 
.alert-message[data-ion-alert-md]:focus {
  color: #fff !important;
  background: rgba(255, 255, 255, 0.3) !important;
}
@media screen and (min-width : 576px) {
  .logoHeader {
    img {
      max-width: 60%;
    }
  }
  input {
    padding-left: 40px;
  }

}
.alert-wrapper[data-ion-alert-md] {
  background: #150e35 !important;
}
.alert-title[data-ion-alert-md] {
  color: #ffffff;
}
.alert-wrapper.sc-ion-alert-md {
  --background: #150e35;
}

.alert-title.sc-ion-alert-md {
  --ion-text-color: #fff;
}

.alert-message.sc-ion-alert-md {
  color: #fff;
}

.alert-button-inner.sc-ion-alert-md {
  color: #fff;
}

ion-row {
  border: none !important;
  margin-top: 0px !important;
}

.ios {
  ion-item {
    --ion-color-shade: transparent;
  }
  .margin-bottom {
    ion-select {
      margin-left: 15%;
    }
  }
}

@media screen and (min-width : 768px) {
  .margin-bottom {
      ion-select {
        margin-left: 14%;
      }
  }
}

@media screen and (min-width : 768px) and (orientation:portrait) {
  .sc-ion-buttons-md-s .button.button-clear {
    --height: 75px;
  }
  .popover-md .popover-content {
    width: 50%;
    left: 25% !important;
  }
}

@media screen and (min-width : 1024px) and (orientation:landscape) {
  .sc-ion-buttons-md-s .button.button-clear {
    --height: 80px;
  }
}

ion-button.header-menu {
  color: white;
  font-size: 1.2em !important;
}

ion-select.header-dropdown {
  background: #2c2649;
}

.main-menu .popover-content {
  top: 3.5em !important;
  right: 1.70em !important;
  left: auto !important;
  width: 14em;
  box-shadow: 0px 0px 32px 5px #000;
  border-radius: .5em;
  border: none;
  overflow: visible;
  background: transparent;
}
.main-menu .popover-content::before {
  content: "";
  width: 10px;
  height: 30px;
  position: absolute;
  background: #120c30;
  z-index: 1;
  margin-top: -11px;
  transform: rotate(60deg);
  right: 10px;
}

.alert-radio-label {
  color: #fff !important;
}

.alert-radio-group {
  border-color: rgba(0, 0, 0, .5) !important;
}

.alert-radio-icon{
  border-color: #860088 !important;
}

.alert-radio-inner{
  background-color: #860087 !important;
}