<ion-content padding>
  
    <ion-item>
      <img class="logoImg" [src]="appLogo" />
    </ion-item>
  
    <ion-item class="margin-bottom" margin-top>
      <ion-icon slot="start" name="mail"></ion-icon>
      <ion-input [(ngModel)]="email" placeholder="Email Address"></ion-input>
    </ion-item>
  
    <ion-button class="loginButton" expand="block" size="large"  (click)="forgotPassword()">Submit</ion-button>
    <ion-button class="forget-link" href="/login" routerDirection="backward">Back to login?</ion-button>
  
  </ion-content>