.no-result-header {
    font-size: 2em;
}

.no-result-sub-header {
    font-size: 1.3em;
}

.logoImgHeader img {
    max-width: 80%;
    margin: 0 auto;
}

.no-result-item {
    font-size: 1.5em;
    text-transform: uppercase;
}

.footerBack {
    --background: #201553;
}