<app-header [showProperty]="showProperty" [pageName]="pageName"></app-header>

<ion-content padding text-center>

<ion-item class="description_area">
  <ion-textarea rows="21" [(ngModel)]="description" placeholder="Add note here..."></ion-textarea>
</ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer_add_note" >
    <ion-buttons class="add_note_btn_cancel" (click)="goBack()"  text-center slot="start">
      <ion-button>
        <ion-label>CANCEL</ion-label>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons class="add_note_btn_submit" text-center slot="end" (click)="addNotes()">
      <ion-button>
        <ion-label>SUBMIT</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>