<app-header [showProperty]="showProperty" [pageName]="pageName"></app-header>

<ion-content padding text-center>

  <ion-item class="category_area">
    <ion-select [(ngModel)]="category" interface="popover" placeholder="SELECT CATEGORY">
      <ion-select-option value="notice">Notice</ion-select-option>
      <ion-select-option value="warning">Warning</ion-select-option>
      <ion-select-option value="violation">Violation</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="description_area">
    <!-- <ion-textarea rows="21" [(ngModel)]="description" placeholder="Add note here..."></ion-textarea> -->
    <textarea rows="21" [(ngModel)]="description" placeholder="Add note here..."></textarea>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer_add_note">
    <ion-buttons class="add_note_btn_cancel" (click)="goBack()" text-center slot="start">
      <ion-button>
        <ion-label>CANCEL</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-buttons class="add_note_btn_submit" text-center slot="end" (click)="addNotes()">
      <ion-button>
        <ion-label>SUBMIT</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>