ion-row {
    border: 0.5px solid;
    margin-top: 5px;
}



.scanImage {
    width: 60%;
    margin: 15% auto;
}

@media screen and (min-width : 576px) {
    .scanImage {
        width: 80%;
        margin: 3% auto;
    }
    
}
@media screen and (min-device-width: 667px) and (max-device-width: 1824px) and (orientation : landscape){
    ion-grid.item-verticle-align-center.hydrated {
        display: flex;
        height: 100%;
        align-items: center;
        ion-row.hydrated {
            display: flex;
            align-items: center;
        }
    }
    
    
}
@media only screen 
and (min-device-width : 667) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    ion-grid.item-verticle-align-center.hydrated {
        display: flex;
        height: 100%;
        align-items: center;
        ion-row.hydrated {
            display: flex;
            align-items: center;
        }
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1824px) and (orientation : portrait){
    .scanImage {
        width: 60%;
        margin: 5% auto;
    }
    ion-grid.item-verticle-align-center.hydrated {
        height: 100%;
        display: flex;
        align-items: center;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    ion-grid.item-verticle-align-center.hydrated {
        height: 100%;
        display: flex;
        align-items: center;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    ion-grid.item-verticle-align-center.hydrated {
        height: 100%;
        align-items: center;
    }
}
.hintIcon {
    background: #28223d;
    margin-bottom: 5%;
    float: left;
    width: 100%;
    ion-icon.hydrated {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        width: 2em;
        height: 100%;
        background: #5f2877;
    }
    .sc-ion-label-md-h {
        margin-left: 3em;
    }
}

.ad-search {
    float: left;
    width: 100%;
    margin-bottom: 5%;
    background: transparent !important;
    position: relative;
    .sc-ion-label-md-h { 
        padding-left: 0 !important;
        left: 0;
        z-index: 9;
        position: absolute;
    }
}



