<app-header [showProperty]="showProperty" [pageName]="pageName" (selectedProperty)="getPropertyId($event)"></app-header>

<ion-content padding>

  <ion-grid class="item-verticle-align-center">
    <ion-row>
      <ion-col  size="12" [attr.size-sm]="colSize1" [attr.size-md]="colSize1" [attr.size-lg]="colSize1" [attr.size-xl]="colSize1">
        <ion-item (click)="takePicture()">
          <img class="scanImage" [src]="scanImage" />
        </ion-item>
      </ion-col>
      <ion-col  size="12" [attr.size-sm]="colSize2" [attr.size-md]="colSize2" [attr.size-lg]="colSize2" [attr.size-xl]="colSize2">
        <ion-item class="ad-search">
          <ion-label>ADVANCED SEARCH</ion-label>
        </ion-item>

        <ion-item class="hintIcon" (click)="viewVehicleSearchForm()">
          <ion-icon slot="start" name="car"></ion-icon>
          <ion-label class="dropdownLebal">SEARCH PERMITS BY VEHICLE</ion-label>
        </ion-item>

        <ion-item class="hintIcon" (click)="viewUserSearchForm()" *ngIf="!isEnforcement">
          <ion-icon slot="start" name="people"></ion-icon>
          <ion-label class="dropdownLebal">SEARCH PERMITS BY USER</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>