<app-header [showProperty]="showProperty" [pageName]="pageName"></app-header>

<ion-content padding text-center>
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let note of notes" class="view_permit_notes">
    <ion-item class="header">
      <ion-label class="date_block" text-wrap>{{note.notes_date}}</ion-label>
      <ion-label text-end slot="end">{{note.notes_time}}</ion-label>
    </ion-item>
    <ion-card-content [innerHtml]="note.notes_desc">
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer (click)="goBack()">
  <ion-toolbar>
    <ion-title text-center>BACK</ion-title>
  </ion-toolbar>
</ion-footer>